/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    font-size: 18px;
  }

    ul li {
      border: 2px solid white;
      margin: 2rem 0;
    }
}
